h1 {
    background-color: cadetblue;
    text-align: center;
    color: white;
    padding: 20px 50px;
}

#linksbar {
    float: right;
    padding: 0 10px;
    border-left: 1px solid black;
    height: 350px;
    width: 20%
}

#loginform button{
    background-color: blue;
    padding: 3px 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

ul li {
    list-style-type: none ;
    background-color: cadetblue;
    padding: 3px 35px;
    margin-bottom:2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#customers {
    width: 70%;
}
thead {
    color:white;
    background-color: dodgerblue;
}
th {
    
    padding: 8px 2px;
}
tbody tr td {
    background-color:#f8f9fa;
    padding: 8px 2px;
}

#aboutus {
    width: 40%;
}

#titles {
    float: right;
    position:relative;
    top:-7.5em;
    right: 30em;
    /* width: 30%;
    margin-right: 10%; */
}

#titles p {
    display: inline-block;
    margin: 2em;
}